body{
  background:url("../img/icons/bg.jpg"),url("../img/icons/bg2.png") !important ;
  background-repeat:no-repeat;
}

.header { padding-top:10px;}

.banner-small {
  padding-top:2px;
  margin-left:-20px;

}

#map-canvas{
  width:100%;
  height:300px;
}

#owl-demo .item{
  height:392px;

}

footer p{
  color:white;
}
